/* style1.css - Modern Blue Theme */
body {
    background-color: #a7d6f7;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background-color: rgb(240, 191, 191);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(64, 62, 62, 0.1);
}

h1 {
    color: #8cb8e4;
    text-align: center;
    font-size: 28px;
}

label {
    display: block;
    color: #735454;
    margin-bottom: 10px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 12px;
    border: 2px solid #649ed7;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #8bd219;
    color: rgb(250, 196, 196);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #6ea8eb;
}